dist/
*.xcodeproj/
*.xcworkspace/
!apps/abyssl_flutter/macos/Runner.xcodeproj/
!apps/abyssl_flutter/macos/Runner.xcodeproj/**
!apps/abyssl_flutter/macos/Runner.xcworkspace/
!apps/abyssl_flutter/macos/Runner.xcworkspace/**
DerivedData/
.DS_Store
